@model  List<RiskyBusiness.Risks>
@{
	ViewData["Title"] = "Home Page";
}

<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer demo-layout-transparent">
	<script>
		require.config({
			paths: {
				'ko': 'lib/knockout/dist/knockout',
				'risk-list': 'js/risk-list',
				'risk-list-vm': 'js/risk-list-vm',
				'risk-details-vm': 'js/risk-details-vm'
			}
		});

		define('risks-raw', [], function () {
			//ew
			return @Html.Raw(Json.Serialize(Model));
		});

		require(['risk-list-vm', 'risk-details-vm'], function (riskList, riskDetails) {
			var detailsVM = riskDetails();
			riskList(detailsVM);
		});
	</script>
	<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer
            mdl-layout--fixed-header">
		<header class="mdl-layout__header" style="background-color: #0492D4;">
			<div class="mdl-layout__header-row">
				<div class="mdl-layout-spacer">
					<h3>Risky Business</h3>
				</div>
				<div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable
                  mdl-textfield--floating-label mdl-textfield--align-right">
					<label class="mdl-button mdl-js-button mdl-button--icon"
						   for="fixed-header-drawer-exp">
						<i class="material-icons">search</i>
					</label>
					<div class="mdl-textfield__expandable-holder">
						<input class="mdl-textfield__input" type="text" name="sample"
							   id="fixed-header-drawer-exp" />
					</div>
				</div>
			</div>
		</header>
		<div class="mdl-layout__drawer">
			@Html.Partial("AddRisk")
		</div>
		<main class="mdl-layout__content">

			<div class="mdl-grid" style="opacity:0.96">
				<div class="mdl-cell mdl-cell--12-col">
					@Html.Partial("RiskDetails")
				</div>
				<div class="mdl-cell mdl-cell--12-col">
					@Html.Partial("RiskList")
				</div>
			</div>
		</main>
	</div>
</div>