<div class="mdl-card mdl-shadow--2dp">
	<div class="mdl-card__title mdl-card--expand">
		<h2 class="mdl-card__title-text">Risk Level</h2>
	</div>
	<form action="#">
		<div class="mdl-grid">
			<div class="mdl-cell mdl-cell--6-col">
				<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
					<input class="mdl-textfield__input" type="text" id="risk-id" disabled/>
					<label class="mdl-textfield__label" for="risk-id">Risk Id</label>
				</div>
				<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
					<textarea class="mdl-textfield__input" type="text" rows="3" id="description"></textarea>
					<label class="mdl-textfield__label" for="description">Description</label>
				</div>
				<div class="mdl-radio">
					<h6>Category</h6>
					<label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="communication">
						<input class="mdl-radio__button" id="communication" name="category" type="radio" value="communication">
						<span class="mdl-radio__label">Communication</span>
					</label>
					<label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="legal">
						<input class="mdl-radio__button" id="legal" name="category" type="radio" value="legal">
						<span class="mdl-radio__label">Legal</span>
					</label>
					<label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="technology">
						<input class="mdl-radio__button" id="technology" name="category" type="radio" value="technology">
						<span class="mdl-radio__label">Technology</span>
					</label>
				</div>
				<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
					<input class="mdl-textfield__input" type="text" id="raised-by" />
					<label class="mdl-textfield__label" for="raised-by">Raised by</label>
				</div>
				<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
					<input class="mdl-textfield__input" type="text" id="date-raised" />
					<label class="mdl-textfield__label" for="date-raised">Date raised</label>
				</div>
				<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
					<input class="mdl-textfield__input" type="text" id="last-reviewed" />
					<label class="mdl-textfield__label" for="last-reviewed">Last reviewed</label>
				</div>
				<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
					<input class="mdl-textfield__input" type="text" id="last-change" />
					<label class="mdl-textfield__label" for="last-change">Last change</label>
				</div>
			</div>
			<div class="mdl-cell mdl-cell--6-col">
				<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
					<input class="mdl-textfield__input" type="text" id="owner" />
					<label class="mdl-textfield__label" for="risk-id">Owner</label>
				</div>
				<div class="mdl-radio">
					<h6>Status</h6>
					<label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="open">
						<input class="mdl-radio__button" id="open" name="status" type="radio" value="open">
						<span class="mdl-radio__label">Open</span>
					</label>
					<label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="closed">
						<input class="mdl-radio__button" id="closed" name="status" type="radio" value="closed">
						<span class="mdl-radio__label">Closed</span>
					</label>
					<label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="monitor">
						<input class="mdl-radio__button" id="monitor" name="status" type="radio" value="monitor">
						<span class="mdl-radio__label">Monitor</span>
					</label>
				</div>
				<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
					<input class="mdl-textfield__input" type="text" id="program-refs" />
					<label class="mdl-textfield__label" for="program-refs">Program refs</label>
				</div>
				<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
					<textarea class="mdl-textfield__input" type="text" rows="3" id="comments"></textarea>
					<label class="mdl-textfield__label" for="comments">Comments</label>
				</div>
				<div class="mdl-cell--bottom">
					<button id="thabutton" style="margin-top:20px" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect">
						Save
					</button>
				</div>
			</div>
		</div>
	</form>
</div>