<div class="mdl-card mdl-shadow--2dp">
	<div class="mdl-card__title mdl-card--expand">
		<h5 class="mdl-card__title-text">Risk Level</h5>
	</div>
	<form id="risk-details" action="#">
		<div class="mdl-grid">
			<div class="mdl-cell mdl-cell--6-col">
				<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
					<input class="mdl-textfield__input" type="text" id="risk-id" disabled data-bind="textInput: riskId" />
					<label class="mdl-textfield__label" for="risk-id">Risk Id</label>
				</div>
				<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
					<textarea class="mdl-textfield__input" type="text" rows="3" id="description" data-bind="textInput: descripton" ></textarea>
					<label class="mdl-textfield__label" for="description">Description</label>
				</div>
				<div class="mdl-radio">
					<h6>Category</h6>
					<label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="communication">
						<input class="mdl-radio__button" id="communication" name="category" type="radio" value="communication" data-bind="checked: category" >
						<span class="mdl-radio__label">Communication</span>
					</label>
					<label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="legal">
						<input class="mdl-radio__button" id="legal" name="category" type="radio" value="legal" data-bind="checked: category" >
						<span class="mdl-radio__label">Legal</span>
					</label>
					<label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="technology">
						<input class="mdl-radio__button" id="technology" name="category" type="radio" value="technology" data-bind="checked: category" >
						<span class="mdl-radio__label">Technology</span>
					</label>
				</div>
				<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
					<input class="mdl-textfield__input" type="text" id="raised-by" data-bind="textInput: raisedBy"  />
					<label class="mdl-textfield__label" for="raised-by">Raised by</label>
				</div>
				<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
					<input class="mdl-textfield__input" type="text" id="date-raised" data-bind="textInput: dateRaised"  />
					<label class="mdl-textfield__label" for="date-raised">Date raised</label>
				</div>
				<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
					<input class="mdl-textfield__input" type="text" id="last-reviewed" data-bind="textInput: lastReviewDate"  />
					<label class="mdl-textfield__label" for="last-reviewed">Last reviewed</label>
				</div>
				<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
					<input class="mdl-textfield__input" type="text" id="last-change"  data-bind="textInput: nextReviewDate" />
					<label class="mdl-textfield__label" for="last-change">Last change</label>
				</div>
				<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
					<input class="mdl-textfield__input" type="text" id="owner"  data-bind="textInput: owner" />
					<label class="mdl-textfield__label" for="risk-id">Owner</label>
				</div>
				<div class="mdl-radio">
					<h6>Status</h6>
					<label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="open">
						<input class="mdl-radio__button" id="open" name="status" type="radio" value="open" data-bind="checked: status" >
						<span class="mdl-radio__label">Open</span>
					</label>
					<label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="closed">
						<input class="mdl-radio__button" id="closed" name="status" type="radio" value="closed" data-bind="checked: status" >
						<span class="mdl-radio__label">Closed</span>
					</label>
					<label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="monitor">
						<input class="mdl-radio__button" id="monitor" name="status" type="radio" value="monitor" data-bind="checked: status" >
						<span class="mdl-radio__label">Monitor</span>
					</label>
				</div>
				<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
					<input class="mdl-textfield__input" type="text" id="program-refs"  data-bind="textInput: programRefs" />
					<label class="mdl-textfield__label" for="program-refs">Program refs</label>
				</div>
				<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
					<textarea class="mdl-textfield__input" type="text" rows="3" id="comments" data-bind="textInput: comments" ></textarea>
					<label class="mdl-textfield__label" for="comments">Comments</label>
				</div>
			</div>
			<div class="mdl-cell mdl-cell--6-col">
				<div class="mdl-card mdl-shadow--2dp through mdl-shadow--2dp">
					<div class="mdl-card__title">
						Pre-mitigation
					</div>
					<div class="mdl-card__supporting-text">
						<div class="mdl-radio">
							<h6 style="margin-top: 0px;">Impact</h6>
							<label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="pre-high">
								<input class="mdl-radio__button" id="pre-high" name="pre-impact" type="radio" value="3" data-bind="checked: preRiskImpact" >
								<span class="mdl-radio__label">High</span>
							</label>
							<label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="pre-medium">
								<input class="mdl-radio__button" id="pre-medium" name="pre-impact" type="radio" value="2" data-bind="checked: preRiskImpact" >
								<span class="mdl-radio__label">Medium</span>
							</label>
							<label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="pre-low">
								<input class="mdl-radio__button" id="pre-low" name="pre-impact" type="radio" value="1" data-bind="checked: preRiskImpact" >
								<span class="mdl-radio__label">Low</span>
							</label>
						</div>
						<div class="mdl-radio">
							<h6>Probability</h6>
							<label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="pre-likely">
								<input class="mdl-radio__button" id="pre-likely" name="pre-prob" type="radio" value="3" data-bind="checked: preRiskProbability" >
								<span class="mdl-radio__label">Likely</span>
							</label>
							<label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="pre-moderate">
								<input class="mdl-radio__button" id="pre-moderate" name="pre-prob" type="radio" value="2" data-bind="checked: preRiskProbability" >
								<span class="mdl-radio__label">Moderate</span>
							</label>
							<label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="pre-unlikely">
								<input class="mdl-radio__button" id="pre-unlikely" name="pre-prob" type="radio" value="1" data-bind="checked: preRiskProbability" >
								<span class="mdl-radio__label">Unlikely</span>
							</label>
						</div>
						<div id="pre-risk-amount-card" style="min-height:0; margin-top: 20px; display:none;" class="mdl-card mdl-shadow--2dp through mdl-shadow--2dp">
							<h4 style="text-align:center;" id="pre-risk-amount"></h4>
						</div>
					</div>
				</div>
				<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
					<textarea class="mdl-textfield__input" type="text" rows="3" id="mitigation" data-bind="textInput: mitigation" ></textarea>
					<label class="mdl-textfield__label" for="comments">Mitigation</label>
				</div>
					<div class="mdl-card mdl-shadow--2dp through mdl-shadow--2dp">
						<div class="mdl-card__title">
							Post-mitigation
						</div>
						<div class="mdl-card__supporting-text">
							<div class="mdl-radio">
								<h6 style="margin-top: 0px;">Impact</h6>
								<label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="post-high">
									<input class="mdl-radio__button" id="post-high" name="post-impact" type="radio" value="3" data-bind="checked: postRiskImpact" >
									<span class="mdl-radio__label">High</span>
								</label>
								<label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="post-medium">
									<input class="mdl-radio__button" id="post-medium" name="post-impact" type="radio" value="2" data-bind="checked: postRiskImpact" >
									<span class="mdl-radio__label">Medium</span>
								</label>
								<label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="post-low">
									<input class="mdl-radio__button" id="post-low" name="post-impact" type="radio" value="1" data-bind="checked: postRiskImpact" >
									<span class="mdl-radio__label">Low</span>
								</label>
							</div>
							<div class="mdl-radio">
								<h6>Probability</h6>
								<label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="post-likely">
									<input class="mdl-radio__button" id="post-likely" name="post-prob" type="radio" value="3" data-bind="checked: postRiskProbability" >
									<span class="mdl-radio__label">Likely</span>
								</label>
								<label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="post-moderate">
									<input class="mdl-radio__button" id="post-moderate" name="post-prob" type="radio" value="2" data-bind="checked: postRiskProbability" >
									<span class="mdl-radio__label">Moderate</span>
								</label>
								<label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="post-unlikely">
									<input class="mdl-radio__button" id="post-unlikely" name="post-prob" type="radio" value="1" data-bind="checked: postRiskProbability" >
									<span class="mdl-radio__label">Unlikely</span>
								</label>
							</div>
							<br />
							<div id="post-risk-amount-card" style="min-height:0; margin-top: 20px; display:none;" class="mdl-card mdl-shadow--2dp through mdl-shadow--2dp">
								<h4 style="text-align:center;" id="post-risk-amount"></h4>
							</div>
						</div>	
					</div>
					<div class="mdl-cell--bottom">
						<button id="thabutton" style="margin-top:20px" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect" data-bind="click: save">
							Save
						</button>
						<button id="wtf" style="margin-top:20px" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect">
							Copy for status report
						</button>
					</div>
				</div>
		</div>
	</form>
</div>

<script>
	$(function () {
		var words = new Array("Low", "Moderate", "High", "Extreme", "Extreme");

		$('.mdl-radio > input').change(function () {
			var preImpact = $('input[name=pre-impact]:checked', '#risk-details').val()
			var preProbability = $('input[name=pre-prob]:checked', '#risk-details').val()

			var preRisk = (preImpact - 1) + (preProbability - 1);

			if (!isNaN(preRisk)) {
				$('#pre-risk-amount-card').show();
				$("#pre-risk-amount-card").removeClass();
				$('#pre-risk-amount-card').addClass("mdl-card");
				$('#pre-risk-amount-card').addClass("mdl-shadow--2dp");
				$('#pre-risk-amount-card').addClass("through");
				$('#pre-risk-amount-card').addClass("mdl-shadow--2dp");
				$('#pre-risk-amount-card').addClass(words[preRisk]);
				$('#pre-risk-amount').text("Risk: " + words[preRisk]);
			} else {
				$('#pre-risk-amount-card').hide();
			}

			var postImpact = $('input[name=post-impact]:checked', '#risk-details').val()
			var postProbability = $('input[name=post-prob]:checked', '#risk-details').val()

			var postRisk = (postImpact - 1) + (postProbability - 1);

			if (!isNaN(postRisk)) {
				$('#post-risk-amount-card').show();
				$("#post-risk-amount-card").removeClass();
				$('#post-risk-amount-card').addClass("mdl-card");
				$('#post-risk-amount-card').addClass("mdl-shadow--2dp");
				$('#post-risk-amount-card').addClass("through");
				$('#post-risk-amount-card').addClass("mdl-shadow--2dp");
				$('#post-risk-amount-card').addClass(words[postRisk]);
				$('#post-risk-amount').text("Risk: " + words[postRisk]);
			} else {
				$('#post-risk-amount-card').hide();
			}
		})
	});
</script>