<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - RiskyBusiness</title>

        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <link rel="stylesheet" href="/lib/material-design-lite/material.min.css" />
        <script src="/lib/material-design-lite/material.min.js"></script>
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />

		<link rel="import" href="~/lib/polymer/polymer.html" />
		<script src="~/lib/webcomponentsjs/webcomponents.js"></script>
		
		<link rel="import" href="~/lib/paper-slider/paper-slider.html" />
		<link rel="import" href="~/lib/core-collapse/core-collapse.html" />
		<link rel="import" href="~/lib/core-menu/core-menu.html" />
		<link rel="import" href="~/lib/paper-dropdown/paper-dropdown.html" />
		<link rel="import" href="~/lib/paper-item/paper-item.html" />
		<link rel="import" href="~/lib/paper-dropdown-menu/paper-dropdown-menu.html" />
    </head>
    <body>
        <style>
                   .demo-layout-transparent {
                       background: url('http://www.theadvocates.org/wp-content/uploads/2015/08/risky-business.jpg') center / cover;
                   }

                       .demo-layout-transparent .mdl-layout__header,
                       .demo-layout-transparent .mdl-layout__drawer-button {
                           /* This background is dark, so we set text to white. Use 87% black instead if
            your background is light. */
                           color: white;
                       }

                       .mdl-card {
                           width: 100%;
                       }
        </style>
            @RenderBody()
            <script src="~/js/site.js" asp-append-version="true"></script>

        @RenderSection("scripts", required: false)
    </body>
</html>
