.Low {
	background-color: #43A047;
	color:white !important;
}

.Moderate {
	background-color: #2196F3;
	color:white !important;
}

.High {
	background-color: #FFC107;
	color:black !important;
}

.Extreme {
	background-color: #D32F2F;
	color:white !important;
}

.Incomprehensible {
	background-color: black;
	color:white !important;
}

.risks-list-table{
	width: 100%
}

.risks-list-table td,
.risks-list-table th
{
	text-align:center;
}

.risks-list-table td.left,
.risks-list-table th.left
{
	text-align:left;
}
